name: Build

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master
jobs:
  build-dotnet:
    name: .Net 构建
    runs-on: windows-latest
    steps:
      - name: 签出仓库
        uses: actions/checkout@v5
        with:
          lfs: true
          fetch-depth: 0

      - name: 配置 .Net 环境
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: ./global.json
          cache: false

      - name: 还原本地工具
        run: dotnet tool restore

      - name: 打包
        run: dotnet pack --graph --artifacts-path artifacts --configuration Release -p:"Version=$((dotnet gitversion | ConvertFrom-Json).SemVer)" -p:NoTarget=true

      - name: 收集 Nuget 包
        uses: actions/upload-artifact@v5
        with:
          name: nuget-packages
          path: |
            artifacts\package\release\*
          retention-days: 3

  release:
    needs: build-dotnet
    name: 发布
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v6
        with:
          name: nuget-packages
          path: artifact
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifact/*
      - name: 推送 Nuget 包
        shell: pwsh
        continue-on-error: true
        env:
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        run: |
          Set-Location artifact
          dotnet nuget push *.nupkg -s nuget -k $env:NUGET_TOKEN --skip-duplicate
          Set-Location ..
